<form #myForm="ngForm" novalidate (ngSubmit)="handelAddPassenger(myForm)" class="form">
    <label for="full-name">full Name </label>
    <input name="fullName" #fullName="ngModel" id="full-name" type="text" placeholder="full name" ngModel required >
    <br/>
        <div class="error" *ngIf="fullName.errors?.required && fullName?.touched">
            this field is required
        </div>
        <div class="error" *ngIf="fullName.errors?.minlength && fullName?.dirty">
            this field requires minimum 3 characters
        </div>
    <br/>
    <label for="checked-in">checked in :</label>
    <input name="checkedIn" 
        id="checked-in" 
        type="checkbox"  
        ngModel >
    <br/>
    <br/>
    <div *ngIf="myForm.value?.checkedIn">
        <label for="check-in-date">check In Date : </label>
        <input type="date" name="checkInDate" id="check-in-date" ngModel>
    </div>
     <br/>
    <br/>
    <input type="button" value="Add child " (click)="addChild()" >
    <br/>
    <br/>
    <div  *ngFor="let item of childrensCount let i = index">
        child {{i}}
        <label for="child-name"> Name : </label>
        <input name="childName-{{i}}"  id="child-name" type="text"  ngModel >
        
        <label for="child-age"> Age :</label>
        <input name="childAge-{{i}}" id="child-age" type="number"  ngModel >
    <br/>
    <br>
</div>
    <br>
    <br/>
    <input type="submit" value="add Passenger">
  </form>